.container{
    margin:60px;
}

.form-control{
    margin-bottom: 10px;
}

.controls{
    display: inline;
}

.pac-container {
    z-index: 1051 !important;
}

.ion-close-circled:hover{
    cursor: pointer;
}

.link:hover{
    cursor: pointer;
}

.table-container{
    overflow-x: auto; 
}
