<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Add a property</h1> </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <p>Add a property that you are interested in below</p>
                <form name="placesForm" ng-submit="placesForm.$valid && addPlace(link,address,longitude,latitude,pricePerWeek,pricePerMonth,notes)">
                    <div class="form-group">
                        <input type="url" name="link" required class="form-control input-lg" ng-minlength="1" placeholder="Website where you saw the property" ng-model="link">
                        <div class="form-group">
                            <button type="button" class="btn btn-lg btn-info" ng-click="lookupLocation()">Lookup Location</button>
                            <input type="text" name="address" disabled placeholder="address" ng-model="address">
                            <!--input type="text" required name="latitude" disabled placeholder="latitude" ng-model="latitude">
                            <input type="text" required name="longitude" disabled class="disabled" placeholder="longitude" ng-model="longitude"-->
                        </div>
                        <input type="number" step="0.01" name="pricePerWeek" required class="form-control input-lg" ng-change="change('perweek')" placeholder="Price Per Week" ng-model="pricePerWeek">
                        <input type="number" step="0.01" name="pricePerMonth" required class="form-control input-lg" ng-change="change('permonth')" placeholder="Price Per Month" ng-model="pricePerMonth">
                        <input type="text" name="notes" class="form-control input-lg" placeholder="Notes" ng-model="notes"> </div>
                    <button type="submit" class="btn btn-lg btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>