<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title">Properties to rent</h1> </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div ng-hide="properties.length===0">
                    <table class="table table-bordered">
                        <tr class="row">
                            <th>Link</th>
                            <th>Location</th>
                            <th>Price Per Calendar Month</th>
                            <th>Notes</th>
                            <th ng-controller="locationController" ng-repeat="loc in locations track by $index"> {{loc.name}}: {{loc.address}}
                                <span class="ion-close-circled" ng-click="removeLocation($index)"></span>
                            </th>
                            <th>Remove</th>
                            <th>Update</th>
                        </tr>
                        <div ng-include="'partials/view-location-modal-template.html'"></div>
                        <tr class="row" ng-controller="locationModalController" ng-repeat="property in properties track by $index">
                            <td>
                                <input class="form-control input-lg" type="url" ng-bind="property.link" ng-model="property.link"> </td>
                            <td>
                                <input class="form-control input-lg" type="text" ng-bind="property.location" ng-model="property.location"> <a ng-click="viewOnMap(property.latitude,property.longitude)">View on Map <i class="ion-map" ng-click="viewOnMap(property.latitude,property.longitude)"></i></a></td>
                            <td>
                                <input class="form-control input-lg" type="number" ng-bind="property.pricePerMonth" ng-model="property.pricePerMonth"> </td>
                            <td>
                                <input class="form-control input-lg" type="text" ng-bind="property.notes" ng-model="property.notes"> </td>
                            <td ng-repeat="loc in property.locations track by $index">{{loc.distance}} miles </td>
                            <td>
                                <button class="btn btn-lg btn-danger" ng-click="removeProperty($index)">X</button>
                            </td>
                            <td>
                                <button class="btn btn-lg btn-success" ng-click="updateProperties()"><i class="ion-checkmark"></i></button>
                            </td>
                        </tr>
                    </table>
                    <button class="btn btn-warning" ng-click="clearAll()">Clear All Data</button>
                </div>
                <div ng-show="properties.length===0">
                    <p>Please add a property on the "Add property" tab.</p>
                </div>
            </div>
        </div>
    </div>
</div>